{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block content %}
<div class="container jusitfy-content my-5">
    <div class="row">
        <div class="col mb-5">
            <p class="mt-5"> Coffee Time is fuelled by our passion for great coffee. What makes our taste unique is our dedication to serving the highest quality coffee to our guests. Our baristas are expertly trained and all our coffee is roasted in our state-of-the-art facility in Sydney by master roasters. There are over 30 varieties of single origin blends, infusions, flavoured and decaffeinated whole bean coffees. Gloria Jean’s Coffees offers quality hand-crafted hot and cold beverages, from classics like Cappuccino and Iced Latté to signature drinks like Chocolate Macadamia Latté and Very Vanilla Chiller. At Gloria Jean’s, we have something for everyone.</p>
         <p class="mb-5">Become a Time franchise owner, and learn what it means to be the most popular kid on the block! Our one-of-a-kind, insanely craveable hot & cold beverages and baked goods have made Coffee Planet a world-class brand with world-class economics.

            Serving Freshly roasted, 100% Arabica Coffee from the world's best farmers.
            Coffee Planet is a real-life example of what can be achieved with a bit of discontent with the way things are. Proving there is always a better way of doing, saying or supplying something. We love coffee – the taste, the occasion and the ritual. We were tired, however, of having to try and enjoy our coffee in a totally middle-aged and traditional coffee shop environment.
            
            We want to spread our coffee universe far and wide, giving great coffee where previously there was none. Then we heard a shout from Pakistan: “Please, bring Coffee Time here! Save us from bad coffee hell” – so we did. And the next stage of our Great Coffee Revolution begins… When something goes right for you, you get a buzz and we’re no different. In fact we live off it! That ‘dare to be different’ attitude is what pushes us forward – what keeps Coffee Planet turning if you like.</p>
        </div>
    </div>
</div>

{% endblock %}